<div class="map">
    <agm-map 
      [latitude]="marsatacLat" 
      [longitude]="marsatacLng" 
      [styles]="styles"
      [zoom]="zoom" 
      [usePanning]="true"> 

      <agm-marker 
        [latitude]="marsatacLat"
        [longitude]="marsatacLng"
        [iconUrl]="'/../../assets/icons/m2018.png'">
        <agm-info-window>
          <h3><strong>Marsatac</strong></h3>      
          <p>Here is Marsatac</p>
        </agm-info-window>      
      </agm-marker>      


      <agm-marker *ngFor="let location of locations"
        [latitude]="location['coord'].latitude"
        [longitude]="location['coord'].longitude"
        >
        <agm-info-window>
          <h3><strong>{{location.name}}</strong></h3>
          <p>{{location.address}}</p>
        </agm-info-window>
      </agm-marker>  
      

    </agm-map> 
</div>