.grid-container {
    margin:  0 20px;
    //display:  flex;
}

.artist-detail-card {
    max-width: 400px;
    margin: 20px auto;
}

mat-list-item span {    
    align-items: center;
    display: flex;    
}

// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
