@import '~@angular/material/theming';
@import 'src/theme.scss';

.grid-container {
    margin:  80px 20px;
    //display:  flex;
}

.artist-details-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .delete {
        background-color: $red;
        color: white;
    }
}

.artist-detail-card {
    max-width: 400px;
    margin: 20px auto;

    mat-card-title.mat-card-title {
        font-size: 18px;
    }
}

mat-list-item span {    
    align-items: center;
    display: flex;    
}

// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
