<div class="grid-container">
  <button mat-raised-button (click)="openEdit(artist)">Edit Artist</button>
  <button mat-raised-button (click)="deleteArtist(artist.id, artist.name)">Delete Artist</button>

  <mat-grid-list [cols]="cols | async" [rowHeight]="rowHeight + 'px'" gutterSize="5px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">

      <mat-card class="artist-detail-card">
        <mat-card-header>
          <mat-card-title>{{artist.name | titlecase}}</mat-card-title>          
        </mat-card-header>
        <img mat-card-image src="{{artist.photoUrl}}" alt="Photo of {{artist.name}}">
        <mat-card-content>
        </mat-card-content>        
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="artist-detail-card">
        <mat-card-header>
          <mat-card-title>Timeline</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">calendar_today</mat-icon>
                <span>Show Day: {{ artist.day }} </span>                
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">speaker</mat-icon>
                <span>Venue: {{ artist.venue }} </span>                
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">access_time</mat-icon>
                <span>Show Time: 
                  {{ artist.show?.start | date: 'HH:mm' }} -
                  {{ artist.show?.end | date: 'HH:mm' }}
                </span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">access_time</mat-icon>
                <span>Get in: {{ artist.getIn?.start | date: 'HH:mm' }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">access_time</mat-icon>
                <span>
                  Set up: 
                  {{ artist.setUpWings?.start | date: 'HH:mm' }} - 
                  {{ artist.setUpWings?.end | date: 'HH:mm' }}
                </span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">access_time</mat-icon>
                <span>Sound-Check: 
                    {{ artist.soundCheck?.start | date: 'HH:mm' }} - 
                    {{ artist.soundCheck?.end | date: 'HH:mm' }}
                </span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>        
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="artist-detail-card">
        <mat-card-header>
          <mat-card-title>Infos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
              <mat-list-item>
                  <span>
                    <mat-icon mat-list-icon color="accent">contact_phone</mat-icon>
                    <span>Contact Name:  {{ artist.contactName  }}</span>
                  </span>
                </mat-list-item>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">contact_phone</mat-icon>
                <span>Contact Phone: {{ artist.contactPhone  }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">contact_mail</mat-icon>
                <span>Contact email: {{ artist.contactEmail }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">hotel</mat-icon>
                <span>Hotel: {{ artist.hotel  }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">people</mat-icon>
                <span>On road: {{ artist.onRoad  }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <mat-icon mat-list-icon color="accent">people_outlined</mat-icon>
                <span>On stage: {{ artist.onStage  }}</span>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>






<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->