<div class="login-container">
  <mat-card>
    <mat-card-header color="primary">
      <mat-card-title>Login to your account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-icon matPrefix color="primary">perm_identity</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="loginForm.get('name').hasError('minlength') && loginForm.get('name').touched" class="help-block">Your name must be at least 2 characters</mat-error>
        </mat-form-field>
        <!-- <tr>
          <td>
            <mat-icon matPrefix color="primary">mail</mat-icon>                                
            <mat-form-field>           
              <input matInput placeholder="Email" formControlName="email" required> 
              <mat-error *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched" class="help-block">Please enter a valid email</mat-error>                          
              </mat-form-field>
          </td>
        </tr> -->         
        <mat-icon matPrefix color="primary">lock</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched" class="help-block">Password must be at least 6 characters</mat-error>
        </mat-form-field>           
        <mat-card-actions>
          <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </form>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>    
  </mat-card>
</div>

<ng-template #alreadyLoggedIn>
  <main class="pt-5 mx-lg-5" >  
    <div class="mt-5">
      <p>You're already logged in. 
        <a href="" (click)="logout()">Logout ?</a>
      </p>
      <p>
        Go back to dashboard ?
        <a routerLink="/">Dashboard ?</a>
      </p>
    </div>
  </main>      
</ng-template>
