<div class="container">
    <div class="register">
        <button mat-raised-button color="accent" (click)="openRegisterDialog()">Register a new task</button>
    </div>
    <mat-toolbar>  
        <mat-toolbar-row>
            <a [routerLink]="['tasks-list']" routerLinkActive [class.active]="rlatl.isActive" #rlatl="routerLinkActive">
                <mat-icon matPrefix color="primary">list</mat-icon>
                <span>Tasks List</span>
            </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <a href="" routerLink="runners-tasks-timetable" routerLinkActive="active">
                <mat-icon matPrefix color="primary">date_range</mat-icon>
                <span>Tasks Timetable</span>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>  
    <router-outlet></router-outlet>
</div>
