@import '~@angular/material/theming';
@import 'src/theme.scss';

.container {
    margin-top: 80px;
    box-sizing: border-box;

    .light-gray {
        color: $lightgray;
    }

    .delete {
        color: $red;
    }

    .ok {
        border: 1px solid $green;
    }

    .approaching {
        border: 1px solid yellow;
    }

    .due {
        border: 1px solid $orange; 
    }

    .late {
        border: 1px solid $red;
    }
            
    .runner-task-card {

        div:nth-child(1) {
            display: flex;
            justify-content: flex-end;
            margin-top: -25px;
            margin-right: -35px;
        
            mat-icon {        
                height: 30px;
                width: 30px;
                font-size: 30px;
            }  
        }  
        
        .mat-card-header {
            justify-content: space-between;
        }
        
        span {
            display: flex;
            margin-right: 5px;
        }
    
        .header-image.mat-card-avatar {
            background-size: cover;    
            height: 60px;
            width: 60px;        
        }
    
        .mat-icon.mat-accent.material-icons {
            margin-right: 10px;
        }
    
        .mat-list-item {
            padding: 5px 0;
        }

        .status {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        
            div {
                display: flex;
            }
            div:nth-child(2) {      
                mat-icon {
                    font-size: 14px;
                    height: 14px;
                    width: 14px;
                    margin-right: 5px;    
                }

                span {
                    color: lightgray;
                        font-size: 12px;
                }
            }
        }
    
        .mat-card-actions {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: $lightgray;
    
            span {
                font-size: 12px;
                vertical-align: super;
            }
    
            span:nth-child(2) {
                margin-right: 10px;
            }

            button {
                min-width: 50px;
                padding: 0;
            }
    
            mat-icon {
                height: 24px;
                width: 24px;
                font-size: 24px;
            }        
            
        }  
        
        table {
            width: 100%;
    
            tr {
                display: flex;
            }
            
            th {
                flex: 1 0 auto;
                font-size: 12px;
            }
    
            th:nth-child(2) {
                flex: 0 1 auto;
            }
    
            th.light-gray {
                color: $lightgray;
            }
            
            td {
                flex: 1 0 auto;
            }
        }
    
        .departure-status {
            font-size: 12px;
            margin-left: 15px;
        }       
    
    }
    
    
}