@import '~@angular/material/theming';
@import 'src/theme.scss';

.container {
    margin: 80px auto;

    .register {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

mat-toolbar-row  {
    font-size: 15px;
    padding: 0;    

    a {
        width: 100%;
        padding: 0.3rem .25rem;
        margin-bottom: -1px;
        display: flex;
        align-items: center;
        border-left: 5px solid transparent;

        &:hover {
            color: white;
        }        
    }
    
    .active {
        z-index: 1;
        color: $primary;
        background-color: rgba($gray, .1);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
        height: 100%;
        align-self: center;
        border-left: 5px solid $primary;
        display: flex;
    }

    &:active {
        color: white;
    }

    &:hover {
        background-color: rgba($gray, .5);        
    }    
      
    a>span {
    display: flex;
    align-items: center;
    }

    a span {
    padding-left: 5px;      
    // color: white;    
    }

    mat-icon {
        margin-right: 5px;
    }

}