<div class="container">
    <button mat-raised-button (click)="openRegisterDialog()">Register a new task</button>
    
    <div class="filter-status">
        <span>Filter Status</span>
        <div *ngFor="let rts of runnersTasksStatus"> 
            <mat-checkbox 
            class="checkbox-margin" 
            [(ngModel)]="rts.checked" 
            (click)="rts.checked ? filterArr.splice(filterArr.indexOf(rts.ts), 1) : filterArr.push(rts.ts)">
            {{rts.ts}}
            </mat-checkbox>            
        </div>
    </div>     
    <div class="hide-completed">
        <div> 
            <mat-checkbox 
            class="checkbox-margin" 
            [(ngModel)]="rtsCompleted.checked" 
            (click)="rtsCompleted.checked ? hideCompletedArr.splice(hideCompletedArr.indexOf(rtsCompleted.rts), 1) : hideCompletedArr.push(rtsCompleted.rts)">
            Hide completed
            </mat-checkbox>            
        </div>
    </div>

    <mat-grid-list [cols]="cols | async" [rowHeight]="rowHeight + 'px'" gutterSize="5px">
        <mat-grid-tile 
            *ngFor="let runnerTask of runnersTasks | runnersTasksFilter:filterArr |hideCompleted:hideCompletedArr"
            [colspan]="1"
            [rowspan]="1">
            <!-- <ng-container *ngIf="runnerTask.taskStatus === 'late'"> -->
                <mat-card class="runner-task-card"
                    [class.ok]="runnerTask.taskStatus === 'scheduled' ||
                                runnerTask.taskStatus === 'ok'|| 
                                runnerTask.taskStatus === 'due' && runnerTask.status === 'has started'"
                    [class.approaching]="runnerTask.taskStatus === 'approaching'"
                    [class.due]="runnerTask.taskStatus === 'due' && runnerTask.status === 'has not started yet'"
                    [class.late]="runnerTask.taskStatus === 'late'"
                    [class.completed]="runnerTask.taskStatus === 'completed'"
                >
                    <div class="edit">
                        {{ runnerTask.taskStatus }} / {{ runnerTask.over}}
                        <button mat-button (click)="openEdit(runnerTask)">
                            <mat-icon color="accent">edit</mat-icon>
                        </button>
                    </div>
                    <mat-card-header>
                        <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url('+ runnerTask.runner.photoUrl +')'}"></div>
                        <mat-card-title>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon color="accent">airport_shuttle</mat-icon>   
                                    <span>{{runnerTask.runner.userName}}</span>
                                    <span>
                                        <mat-icon color="accent">phone</mat-icon>
                                        <span>{{runnerTask.runner.phoneNumber}}</span>
                                        </span>
                                </mat-list-item>                            
                            </mat-list>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon color="accent">assignment</mat-icon>
                                <span>Take {{runnerTask.artist.name | titlecase }} / {{runnerTask.pers}} persons</span>
                            
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">navigation</mat-icon>                 
                                <table>
                                    <tr>
                                        <th class="light-gray">From:</th>
                                        <th></th>
                                        <th class="light-gray">To:</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{runnerTask.from.name}}
                                        </td>
                                        <td>
                                            <mat-icon color="accent">arrow_right_alt</mat-icon>
                                        </td>
                                        <td>
                                            {{runnerTask.to.name}}
                                        </td>
                                    </tr>
                                </table>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <ng-container *ngIf="!runnerTask.over; else isover">  
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( in {{runnerTask.startAt | timeAgo }} )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-container>
                            <ng-template #isover>
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( {{runnerTask.startAt | timeAgo }} ago )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-template>
                            
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">history</mat-icon>
                                <div class="status">
                                    <div>
                                        <span class="light-gray">Status: </span>
                                        <span>{{runnerTask.runner.userName}} {{runnerTask.status}}</span>
                                    </div>
                                    <div>
                                        <span class="info">Last updated: {{runnerTask.updatedAt | timeAgo }} ago</span>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="delete(runnerTask)">
                            <mat-icon class="delete">delete_forever</mat-icon>
                        </button>
                        <span>Created By: {{runnerTask.createdBy}}</span> 
                    </mat-card-actions>
                </mat-card>
            <!-- </ng-container> -->
            <!-- <ng-template *ngIf="runnerTask.taskStatus === 'approaching'">
                <h3>Approaching</h3>
                <mat-card class="runner-task-card"
                    [class.ok]="runnerTask.taskStatus === 'scheduled' ||
                                runnerTask.taskStatus === 'ok'|| 
                                runnerTask.taskStatus === 'due' && runnerTask.status === 'has started'"
                    [class.approaching]="runnerTask.taskStatus === 'approaching'"
                    [class.due]="runnerTask.taskStatus === 'due' && runnerTask.status !== 'has not started yet'"
                    [class.late]="runnerTask.taskStatus === 'late'"
                >
                    <div class="edit">
                        <button mat-button (click)="openEdit(runnerTask)">
                            <mat-icon color="accent">edit</mat-icon>
                        </button>
                    </div>
                    <mat-card-header>
                        <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url('+ runnerTask.runner.photoUrl +')'}"></div>
                        <mat-card-title>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon color="accent">airport_shuttle</mat-icon>   
                                    <span>{{runnerTask.runner.userName}}</span>
                                    <span>
                                        <mat-icon color="accent">phone</mat-icon>
                                        <span>{{runnerTask.runner.phoneNumber}}</span>
                                        </span>
                                </mat-list-item>                            
                            </mat-list>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon color="accent">assignment</mat-icon>
                                <span>Take {{runnerTask.artist.name | titlecase }} / {{runnerTask.pers}} persons</span>
                            
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">navigation</mat-icon>                 
                                <table>
                                    <tr>
                                        <th class="light-gray">From:</th>
                                        <th></th>
                                        <th class="light-gray">To:</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{runnerTask.from.name}}
                                        </td>
                                        <td>
                                            <mat-icon color="accent">arrow_right_alt</mat-icon>
                                        </td>
                                        <td>
                                            {{runnerTask.to.name}}
                                        </td>
                                    </tr>
                                </table>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <ng-container *ngIf="!runnerTask.over; else isover">  
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( in {{runnerTask.startAt | timeAgo }} )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-container>
                            <ng-template #isover>
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( {{runnerTask.startAt | timeAgo }} ago )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-template>
                            
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">history</mat-icon>
                                <div class="status">
                                    <div>
                                        <span class="light-gray">Status: </span>
                                        <span>{{runnerTask.runner.userName}} {{runnerTask.status}}</span>
                                    </div>
                                    <div>
                                        <span class="info">Last updated: {{runnerTask.updatedAt | timeAgo }} ago</span>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="delete(runnerTask)">
                            <mat-icon class="delete">delete_forever</mat-icon>
                        </button>
                        <span>Created By: {{runnerTask.createdBy}}</span> 
                    </mat-card-actions>
                </mat-card>
            </ng-template>
            <ng-template *ngIf="runnerTask.taskStatus === 'ok'">
                <h3>Ok</h3>
                <mat-card class="runner-task-card"
                    [class.ok]="runnerTask.taskStatus === 'scheduled' ||
                                runnerTask.taskStatus === 'ok'|| 
                                runnerTask.taskStatus === 'due' && runnerTask.status === 'has started'"
                    [class.approaching]="runnerTask.taskStatus === 'approaching'"
                    [class.due]="runnerTask.taskStatus === 'due' && runnerTask.status !== 'has not started yet'"
                    [class.late]="runnerTask.taskStatus === 'late'"
                >
                    <div class="edit">
                        <button mat-button (click)="openEdit(runnerTask)">
                            <mat-icon color="accent">edit</mat-icon>
                        </button>
                    </div>
                    <mat-card-header>
                        <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url('+ runnerTask.runner.photoUrl +')'}"></div>
                        <mat-card-title>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon color="accent">airport_shuttle</mat-icon>   
                                    <span>{{runnerTask.runner.userName}}</span>
                                    <span>
                                        <mat-icon color="accent">phone</mat-icon>
                                        <span>{{runnerTask.runner.phoneNumber}}</span>
                                        </span>
                                </mat-list-item>                            
                            </mat-list>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon color="accent">assignment</mat-icon>
                                <span>Take {{runnerTask.artist.name | titlecase }} / {{runnerTask.pers}} persons</span>
                            
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">navigation</mat-icon>                 
                                <table>
                                    <tr>
                                        <th class="light-gray">From:</th>
                                        <th></th>
                                        <th class="light-gray">To:</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{runnerTask.from.name}}
                                        </td>
                                        <td>
                                            <mat-icon color="accent">arrow_right_alt</mat-icon>
                                        </td>
                                        <td>
                                            {{runnerTask.to.name}}
                                        </td>
                                    </tr>
                                </table>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <ng-container *ngIf="!runnerTask.over; else isover">  
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( in {{runnerTask.startAt | timeAgo }} )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-container>
                            <ng-template #isover>
                                <mat-list-item>
                                    <mat-icon color="accent">alarm</mat-icon>
                                    <div class="status">
                                        <div>
                                            <span class="light-gray">Departure at: </span> <span>{{runnerTask.startAt | date: 'shortTime'}} </span>
                                        </div> 
                                        <div>
                                            <span class="info light-gray"> ( {{runnerTask.startAt | timeAgo }} ago )</span>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </ng-template>
                            
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon color="accent">history</mat-icon>
                                <div class="status">
                                    <div>
                                        <span class="light-gray">Status: </span>
                                        <span>{{runnerTask.runner.userName}} {{runnerTask.status}}</span>
                                    </div>
                                    <div>
                                        <span class="info">Last updated: {{runnerTask.updatedAt | timeAgo }} ago</span>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="delete(runnerTask)">
                            <mat-icon class="delete">delete_forever</mat-icon>
                        </button>
                        <span>Created By: {{runnerTask.createdBy}}</span> 
                    </mat-card-actions>
                </mat-card>
            </ng-template> -->
        </mat-grid-tile>
    </mat-grid-list>

</div>
