<div class="container">
    <button mat-raised-button (click)="openRegisterDialog()">Register a new task</button>
    
    <mat-grid-list [cols]="cols | async" [rowHeight]="rowHeight + 'px'" gutterSize="5px">
        <mat-grid-tile *ngFor="let runnerTask of runnersTasks" [colspan]="1"
            [rowspan]="1">
            <mat-card class="user-card">
                <mat-card-header>  
                    <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url('+ runnerTask.runner.photoUrl +')'}"></div>
                    <mat-card-title>
                        Runner: {{runnerTask.runner.userName}}
                        
                    </mat-card-title>
                    <mat-card-subtitle>                       
                        
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon color="accent">assignment</mat-icon>
                            <span>Take {{runnerTask.artist.name | titlecase }} / {{runnerTask.pers}} persons
                            <br>
                            From: {{runnerTask.from.name}}, To: {{runnerTask.to.name}}
                            </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <mat-icon color="accent">alarm</mat-icon>
                            <span>Departure at: {{runnerTask.startAt | date: 'short'}}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <mat-icon color="accent">phone</mat-icon>
                            <span>Runner's phone: {{runnerTask.runner.phoneNumber}}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <mat-icon color="accent">history</mat-icon>
                            <span>Status: {{runnerTask.runner.userName}} {{runnerTask.status}}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <mat-icon color="accent">person</mat-icon>
                    <span>Created By: {{runnerTask.createdBy}}</span> 
                    <mat-icon color="accent">access_time</mat-icon>
                    <span>Last updated on: {{runnerTask.updatedAt | date: 'short'}}</span>                    
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>
