<!-- <div class="grid-container">
  <h1 class="mat-h1">Map</h1>
  <mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="700px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">      
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="map" *ngIf="lat && lng">
            <agm-map 
              [latitude]="FESTIVAL_LAT" 
              [longitude]="FESTIVAL_LNG" 
              [styles]="styles"
              [zoom]="zoom" 
              [usePanning]="true"> 
              <!-- <agm-direction
                [origin]="origin"
                [destination]="destination">
              </agm-direction> -->
              <agm-marker 
                [latitude]="FESTIVAL_LAT"
                [longitude]="FESTIVAL_LNG"
                [iconUrl]="'/../../assets/icons/m2018.png'">
                <agm-info-window>
                  <h3><strong>{{FESTIVAL.NAME}}</strong></h3>      
                  <p>Here is {{FESTIVAL.NAME}}</p>
                </agm-info-window>      
              </agm-marker>  
              <agm-marker
                [latitude]="lat"
                [longitude]="lng"
                [iconUrl]="'/../../assets/icons/me.png'">
                <agm-info-window>
                  <h3><strong>Julien</strong></h3>
                  <p>That's where I am right now !</p>
                </agm-info-window>
              </agm-marker>    
              <agm-marker *ngFor="let hotel of hotels"
                [latitude]="hotel['coord'].latitude"
                [longitude]="hotel['coord'].longitude"
                [iconUrl]="markers.hotels">   
                <agm-info-window>
                  <h3><strong>{{hotel.name}}</strong></h3>
                  <p>{{hotel.address}}</p>
                </agm-info-window>
              </agm-marker> 
              <agm-marker *ngFor="let airport of airports"
                [latitude]="airport['coord'].latitude"
                [longitude]="airport['coord'].longitude"
                [iconUrl]="markers.airports">   
                <agm-info-window>
                  <h3><strong>{{airport.name}}</strong></h3>
                  <p>{{airport?.address}}</p>
                </agm-info-window>
              </agm-marker>
              <agm-marker *ngFor="let trainStation of trainStations"
                [latitude]="trainStation['coord'].latitude"
                [longitude]="trainStation['coord'].longitude"
                [iconUrl]="markers.trainStations">   
                <agm-info-window>
                  <h3><strong>{{trainStation.name}}</strong></h3>
                  <p>{{trainStation?.address}}</p>
                </agm-info-window>
              </agm-marker> 
              <agm-marker *ngFor="let runnerLocation of runnersLocations"
                [latitude]="runnerLocation.position.coords.latitude"
                [longitude]="runnerLocation.position.coords.longitude"
                [iconUrl]="markers.runners">
                <agm-info-window>
                  <h3><strong>{{runnerLocation.userName}}</strong></h3>
                </agm-info-window>
              </agm-marker>     
            </agm-map> 
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>  
</div>

<!-- <agm-marker *ngFor="let marker of markers"
                  [latitude]="marker.location[0]"
                  [longitude]="marker.location[1]"
                  [iconUrl]="'/../../assets/icons/van.png'">
                  <agm-info-window>
                    <h3><strong>Location Details</strong></h3>
                    <p>You are {{ marker.distance }} kilometers from this point</p>
                  </agm-info-window>
                </agm-marker>   -->
