  <mat-card>
    <mat-card-content>
      <mat-card-header color="primary">
        <mat-card-title>Checklist</mat-card-title>
      </mat-card-header>
      <form [formGroup]="checklistForm" (ngSubmit)="onSubmit()">  
        <table>
          <tr>
            <td>
              <mat-checkbox formControlName="invitsChecked">INVITES</mat-checkbox>
            </td>
            <td>
              <mat-form-field>
                <textarea matInput rows="1" formControlName="invitsComment"></textarea>
              </mat-form-field>
            </td>
          </tr>          
          <tr>
            <td>
              <mat-checkbox formControlName="recordingChecked">RECORDING</mat-checkbox>
            </td>
            <td>
              <mat-form-field>
                <textarea matInput rows="1" formControlName="recordingComment"></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox formControlName="sacemChecked">SACEM</mat-checkbox>
            </td>
            <td>
              <mat-form-field>
                <textarea matInput rows="1" formControlName="sacemComment"></textarea>
              </mat-form-field>
            </td>
          </tr>        
        </table>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary">Save</button>
        </mat-card-actions>
      </form>
  </mat-card-content>
</mat-card>
