/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "angular-calendar/scss/angular-calendar.scss";
@import "ng-pick-datetime/assets/style/picker.min.css";

html,
body {
    height: 100%;
}

body{
    margin:0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-list-item-content {
    padding: 0 !important;
}


.mat-expansion-panel-body {
    padding: 0 !important;
  }

  span.mat-expansion-indicator {
    padding-right: 5px;
  }